.ui.stackable.grid
  .eleven.wide.column.container
    .ui.two.column.middle.aligned.very.relaxed.stackable.grid
      .column
        .ui.form
          .field
            %label Username
              .ui.left.icon.input
                %input{:type => "text", :placeholder => "Username"}
                  %i.user.icon
          .field
            %label Password
              .ui.left.icon.input
                %input{:type => "password"}
                  %i.lock.icon
          .ui.blue.submit.button Login
      .divider-column
        .ui.vertical.divider Or
      .center.aligned.column
        .ui.big.green.labeled.button
          %i.signup.icon Sign up
    
    %h1 Teeworlds Ladder

    %table.ui.basic.table
      %thead
        %tr
          %th Nickname
          %th Clan
          %th Rating
        - @players.each do |player|
          %tr
            %td
              %a{href: "players/#{encode_url player.name}"}= player.name
            %td
              %a{href: "clans/#{encode_url player.clan}"}= player.clan
            %td= player.rating.to_s
    =# will_paginate @players, :class => '', :id => 'pagination' 
  .five.wide.column#sidebar
    %p test
