.ui.grid
  .eleven.wide.column.container#main
    %h1 Teeworlds Ladder

    %table.ui.basic.table
      %thead
        %tr
          %th Nickname
          %th Clan
          %th Rating
        - @players[:players].each do |player|
          %tr
            %td
              %a{href: "players/#{encode_url player.name}"}= player.name
            %td
              %a{href: "clans/#{encode_url player.clan}"}= player.clan
            %td= player.rating.to_s
  .five.wide.column#sidebar
    %p test
!= paginate @players, items_per_page: players_per_page, labels: {first: '«', last: '»'}, renderer: 'haml'
