.ui.stackable.grid
  .eleven.wide.column.container
    %h1 Teeworlds Ladder

    %table.ui.basic.table
      %thead
        %tr
          %th Nickname
          %th Clan
          %th Rating
        - @players.each_index do |i|
          %tr
            %td= i + 1
            %td
              %a{href: "players/#{encode_url @players[i].name}"}= @players[i].name
            %td
              %a{href: "clans/#{encode_url @players[i].clan}"}= @players[i].clan
            %td= @players[i].rating.to_s
    =# will_paginate @players, :class => '', :id => 'pagination'
  .five.wide.column#sidebar
    %p test
