#page.container
  .row
    .twelve.columns
      .box
        #header_box
          %h1 Teeworlds Ladder

.row
  .ten.columns
    %ul
      - @players[:players].each do |player|
        %li
          %span= player.name
          %span= player.clan
          %span= player.rating.to_s
  .two.columns
    #sidebar test

!= paginate @players, items_per_page: players_per_page, labels: {first: '«', last: '»'}, renderer: 'haml'
