.row
  .twelve.columns
    %h1 Teeworlds Ladder

.row
  .ten.columns
    %table.u-full-width
      %thead
        %tr
          %th Nickname
          %th Clan
          %th Rating
        - @players[:players].each do |player|
          %tr
            %td
              %a{href: "players/#{encode_url player.name}"}= player.name
            %td
              %a{href: "clans/#{encode_url player.clan}"}= player.clan
            %td= player.rating.to_s
  .two.columns
    #sidebar test
!= paginate @players, items_per_page: players_per_page, labels: {first: '«', last: '»'}, renderer: 'haml'
