!!!5
%html
  %head
    -##<LOADING CSS AND JS, TILE, DESC., KEYWORDS>
  %body
    %ul
      %li
        - link_to_active_page 'Index', '/'
      %li
        - link_to_active_page 'About', '/about'
    =yield ## THE OTHER LAYOUTS WILL BE DISPALYED HERE
    %footer
      -# FOOTER CONTENT
