!!!5
%html
  %head
    -##<LOADING CSS AND JS, TILE, DESC., KEYWORDS>
  %link{:type => "text/css", :rel => "stylesheet", :href => "../css/base.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "../css/skeleton.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "../css/normalize.css"}
  %body
    #menu
      %a.logo{:href => ""}
        %img{:src => "../images/teeworlds-logo.png"}
      %ul
        %li
          %a{:href => "/"}Index
        %li
          %a{:href => "/about"}About
    =yield ## THE OTHER LAYOUTS WILL BE DISPALYED HERE
    %footer
      -# FOOTER CONTENT
