!!!5
%html
  %head
    -##<LOADING CSS AND JS, TILE, DESC., KEYWORDS>
  %body
    %ul
      %li
        - append_class_on_path 'Index', '/', 'active'
      %li
        - append_class_on_path 'About', '/about', 'active'
    =yield ## THE OTHER LAYOUTS WILL BE DISPALYED HERE
    %footer
      -# FOOTER CONTENT
