* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #224d8a !important; /*#91c5ff*/
	background-image: url(/images/bg.png) !important;
	background-repeat: repeat-x !important;
	background-position: 0 0;
	height: 100%;
}

body {
	color: #666;
	background: url(/images/background.png) repeat-x;
	background-position: 0 150px;
	font-family: Verdana, Arial, Helvetica, 'Droid Sans', sans-serif;
	font-size: 13px;
	line-height: 22px;
	min-height: 100%;
	position: relative;
	padding-bottom: 16em;
}

/* ######### menu ######### */

#menu {
	font-size: 13px;
	height: 20%;
	/*width: 1060px;*/
	position: relative;
	display: block;
	padding-bottom: 5%;
}

#menu a {
	color: #2c5aa0;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover {
	color: #fff;
	text-shadow: 0 0 5px #2c5aa0;
	outline: none;
	-webkit-transition: none;-moz-transition: none;-o-transition: none;transition:none;
}

#menu ul {
	background-image: url(/images/cloud.png);
	background-repeat: no-repeat;
	list-style-type: none;
	min-width: 100%;
	height: 100%;
	padding: 80px 0 0 225px;
	position: absolute;
	top: 0;
	left:32%;
	z-index: 0;
}

#menu li {
	display: inline-block;
}

#menu li a {
	background-color: #fff;
	-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
	padding: 4px 15px;
}

#menu li a.active {
	color: #fff;
	background-color: #4e7dc0;
	box-shadow: inset 0 0 5px #2a4266;
	text-shadow: 0 0 5px #fff;
}

#logo {
	display: inline-block;
	/*position: absolute;*/
	top: 20px;
	left: 0;
	z-index: 1;
}

/* ######### submenu ######### */

#submenu {
	overflow: hidden;
}

#submenu ul {
	list-style-type: none;
}

#submenu li {
	text-shadow: 0 0 5px #2c5aa0;
	margin: 0 20px 5px 0;
	float: left;
}

#submenu a {
	color: #fff;
	font-weight: bold;
}

#submenu a:hover {
	color: #2c5aa0;
	text-shadow: 0 0 5px #fff;
}


/* ######### page ######### */

#page {
	background-color: #fff;
	box-shadow: 0 0 5px #666;
	-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
	padding: 30px;
	overflow: hidden;
	clear: both;
}

/* ######### main ######### */

#main {
	width: 760px;
}

#main h1 {
	margin: 15px 0;
}

#main h2 {
	margin: 10px 0;
}

#main ul {
	padding-left: 20px;
	margin: 20px 0;
}

/* ######### news ######### */

#main .topic_container {
	padding-bottom: 30px;
	overflow: hidden;
}

#main .topic_sidebar {
	width: 100px;
	float: left;
}

#main .topic_sidebar img {
	display: block;
	padding: 0 20px 10px;
}

#main .topic_item {
	margin-left: 100px;
	padding: 0 20px;
}

#main .topic_header {
	display: block;
	font-size: 18px;
}

#main .topic_title {
	color: #858358;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}

#main .topic_info {
	font-size: 10px;
	text-align: center;
	color: #999;
}

#main .topic_poster {
	font-size: 10px;
	color: #858358;
	font-weight: bold;
}

#main .topic_comments {
	color: #858358;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

#main .topic_text ul {
	padding-left: 20px;
}

/* ######### downloads ######### */

#main .download_item {
	padding: 20px 20px 40px;
	overflow: hidden;
}

#main .download_title {
	margin-bottom: 10px;
}

#main .download_options {
	font-size: 10px;
	line-height: 14px;
	width: 170px;
	margin-left: 20px;
	float: right;
}

#main .download_options ul {
	list-style-type: none;
}

#main .download_notes {}

#main .download_notes h3 {
	margin-bottom: 5px;
}

#main .download_notes ul {
	padding-left: 20px;
}

/* ######### sidebar ######### */

#sidebar {
	border-left: thin solid #ddd;
	max-width: 100%;
	padding-left: 20px;
	/*float: right;*/
}

#sidebar .sidebar_box {
	margin-bottom: 10px;
}

#sidebar .sidebar_topic {
	color: #858358;
	font-size: 14px;
	font-weight: bold;
}


/* ######### footer ######### */
footer {
	background: url(/images/snow_footer.png) left top repeat-x,   #9eacac bottom repeat-y;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3em 1em;
	position: absolute;
	/* margin: 1em 0; */
	margin-bottom: -1em;
}

#foot {
	text-align: center;
	padding-top: 10px;
	color: #394a53;
	/* text-shadow: 1px 1px #525252; */
}
#foot h4 {
	color:#ffffff;
	text-shadow: 1px 2px #717171;

}
#foot a {
	color: #394a53;
}

#foot a:hover {
	color:#ffffff;
	text-shadow: 1px 1px rgba(86, 86, 86, 0.37);
}
#foot p#copy {
    padding-top: 35px;
    font-size: 13px;
    font-family: monospace;
}

/* ######### Pagination ######### */

#pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0em;
  /*font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  background: #FFFFFF;
  /*font-weight: normal;*/
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  min-height: 2.85714286em;
  margin: 0em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

#pagination a,em,span {
    position: relative;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    padding: 0.92857143em 1.14285714em;
    text-transform: none;
    /*color: rgba(0, 0, 0, 0.87);*/
    font-weight: normal;
    -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}

#pagination a:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
#pagination a:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, 0.1);
  left: 0;
}

#pagination em:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, 0.1);
  left: 0;
}

#pagination a:last-child {
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}

#pagination a:last-child {
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}

#pagination a:last-child:before {
  content:"";
}

#pagination a {
  min-width: 3em;
    text-align: center;
}


#pagination em.current {
  border-top: none;
    padding-top: 0.92857143em;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
}

#pagination
    span .disabled {
  pointer-events: none;
    color: rgba(40, 40, 40, 0.3) !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
	.mobile-hide{
        display: none !important;
    }

/* ### Pagination ### */  
  
  #pagination {
    display:grid;
  }

 	#pagination a,em,span{
   		display:grid;
   		text-align:center;
 	}
 	#pagination a:before {
  		position: absolute;
  		content: '';
  		height: 100%;
  		width: 100%;
  		left: 0px;
  		top: 0px;
  		border-top: 1px solid rgba(34, 36, 38, 0.1);
  		background: none;
	}

	#pagination em:before {
  		position: absolute;
  		content: '';
  		height: 100%;
  		width:100%;
  		left: 0px;
  		top: 0px;
  		border-top: 1px solid rgba(34, 36, 38, 0.1);
  		background: none;
 	}

 	/* ### Sidebar ### */

 	#sidebar {
 		border-top: thin solid #ddd;
 		border-left: none;
		max-width: 100%;
 	}
 	/* ### Footer ### */
 	footer {
 		position: relative;
 		margin-top: 2em;
 	}
 	body {
 		padding-bottom: 0;
 	}

 	/* ### Menu ### */

 	#mobilemenu{
		display:none; 
		width:100%; 
		margin-top: -15px !important;
 	}


 	#logo {
 		top:5px;
 	}

 	#logo img {
 		max-width: 100%;
 	}
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }
}
