* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #224d8a !important; /*#91c5ff*/
	background-image: url(/images/bg.png) !important;
	background-repeat: repeat-x !important;
	background-position: 0 0;
	min-height: 100%;
}

body {
	color: #666;
	background: url(/images/background.png) repeat-x;
	background-position: 0 150px;
	font-family: Verdana, Arial, Helvetica, 'Droid Sans', sans-serif;
	font-size: 13px;
	line-height: 22px;
	min-height: 100%;
	position: relative;
	padding-bottom: 150px;

}

/* ######### menu ######### */

#menu {
	font-size: 13px;
	height: 20%;
	/*width: 1060px;*/
	position: relative;
	display: block;
	padding-bottom: 5%;
}

#menu a {
	color: #2c5aa0;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover {
	color: #fff;
	text-shadow: 0 0 5px #2c5aa0;
	outline: none;
	-webkit-transition: none;-moz-transition: none;-o-transition: none;transition:none;
}

#menu ul {
	background-image: url(/images/cloud.png);
	background-repeat: no-repeat;
	list-style-type: none;
	min-width: 100%;
	height: 100%;
	padding: 80px 0 0 225px;
	position: absolute;
	top: 0;
	left:32%;
	z-index: 0;
}

#menu li {
	display: inline-block;
}

#menu li a {
	background-color: #fff;
	-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
	padding: 4px 15px;
}

#menu li a.active {
	color: #fff;
	background-color: #4e7dc0;
	box-shadow: inset 0 0 5px #2a4266;
	text-shadow: 0 0 5px #fff;
}

#logo {
	display: inline-block;
	/*position: absolute;*/
	top: 20px;
	left: 0;
	z-index: 1;
}

/* ######### submenu ######### */

#submenu {
	overflow: hidden;
}

#submenu ul {
	list-style-type: none;
}

#submenu li {
	text-shadow: 0 0 5px #2c5aa0;
	margin: 0 20px 5px 0;
	float: left;
}

#submenu a {
	color: #fff;
	font-weight: bold;
}

#submenu a:hover {
	color: #2c5aa0;
	text-shadow: 0 0 5px #fff;
}


/* ######### page ######### */

#page {
	background-color: #fff;
	box-shadow: 0 0 5px #666;
	-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
	padding: 30px;
	overflow: hidden;
	clear: both;
}

/* ######### main ######### */

#main {
	width: 760px;
}

#main h1 {
	margin: 15px 0;
}

#main h2 {
	margin: 10px 0;
}

#main ul {
	padding-left: 20px;
	margin: 20px 0;
}

/* ######### news ######### */

#main .topic_container {
	padding-bottom: 30px;
	overflow: hidden;
}

#main .topic_sidebar {
	width: 100px;
	float: left;
}

#main .topic_sidebar img {
	display: block;
	padding: 0 20px 10px;
}

#main .topic_item {
	margin-left: 100px;
	padding: 0 20px;
}

#main .topic_header {
	display: block;
	font-size: 18px;
}

#main .topic_title {
	color: #858358;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}

#main .topic_info {
	font-size: 10px;
	text-align: center;
	color: #999;
}

#main .topic_poster {
	font-size: 10px;
	color: #858358;
	font-weight: bold;
}

#main .topic_comments {
	color: #858358;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

#main .topic_text ul {
	padding-left: 20px;
}

/* ######### downloads ######### */

#main .download_item {
	padding: 20px 20px 40px;
	overflow: hidden;
}

#main .download_title {
	margin-bottom: 10px;
}

#main .download_options {
	font-size: 10px;
	line-height: 14px;
	width: 170px;
	margin-left: 20px;
	float: right;
}

#main .download_options ul {
	list-style-type: none;
}

#main .download_notes {}

#main .download_notes h3 {
	margin-bottom: 5px;
}

#main .download_notes ul {
	padding-left: 20px;
}

/* ######### sidebar ######### */

#sidebar {
	border-left: thin solid #ddd;
	max-width: 100%;
	padding-left: 20px;
	/*float: right;*/
}

#sidebar .sidebar_box {
	margin-bottom: 10px;
}

#sidebar .sidebar_topic {
	color: #858358;
	font-size: 14px;
	font-weight: bold;
}


/* ######### footer ######### */
footer {
	background-image: url(/images/snow_footer.png);
    background-repeat: repeat-x;
    background-position: left top;
    height: 128px;
    /*margin-top: -60px;*/
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#page_foot {
	text-align: center;
	font-size: 10px;
	color: white;
	padding-top: 5px;
	padding-bottom: 10px;
}
