.ui.stackable.grid
  .eleven.wide.column.container
    .ui.two.column.middle.aligned.very.relaxed.stackable.grid
      .column
        .ui.form
          .field
            %label Username
            .ui.left.icon.input
              %input{:type => "text", :placeholder => "Username"}
                %i.user.icon
          .field
            %label Password
            .ui.left.icon.input
              %input{:type => "password"}
                %i.lock.icon
          .ui.blue.submit.button Login
      .divider-column
        .ui.vertical.divider Or
      .center.aligned.column
        .ui.big.green.labeled.button
          %i.signup.icon Sign up

    %h1 Teeworlds Ladder

    %table.ui.basic.table
      %thead
        %tr
          %th Rank
          %th Nickname
          %th Clan
          %th Rating
        - @players.each_index do |i|
          %tr
            %td= i + 1
            %td
              %a{href: "players/#{encode_url @players[i].name}"}= @players[i].name
            %td
              %a{href: "clans/#{encode_url @players[i].clan}"}= @players[i].clan
            %td= @players[i].rating.to_s
    =# will_paginate @players, :class => '', :id => 'pagination'
  .five.wide.column#sidebar
    %p test
