.container#main
  .ui.basic.segment
    %h2 Teeworlds Ratings

    %p
      Teeworlds Ratings is the first player and clan management system of its kind with many useful
      features for the vanilla community. It introduces competitive matchmaking for both clanwars and
      capgames and a brand new points based vanilla league into the scene. It is aimed at solving the
      age old question: Who is the best and which clan is the strongest?

    %p
      It offers a global ranking system for players, a points ladder for clans and offers interesting
      statistics that would not be accessible otherwise.

    %p
      Once the player joins a competitive game, data will be collected and passed through a special algorithm
      to rate the player based on his skill and win/los ratio. With every game, the player profile
      will be updated on this website and give the player his rank in the best-of list.

    %p
      Ever wondered how good you or your clan is compared to others? Now you will will know, and thanks to the
      statistics, it will be easier than ever to know the areas which could be improved to make you a better player.

    %p
      To unite the scattered community, customizable player profiles and clan sections show the latest games played
      and every possible statistic you could think of. Clan rosters and information about individual players will
      keep track of every single event that takes place during competitive games.

    %p
      Because teeworlds in its current state is a special game, we have tried to adapt to it as much as possible to
      account for irregularities. Since clans have sometimes different power levels depending on the line up, the
      ranking system is designed to take that into consideration and award the proper points in every case.

    %p
      Information on how to use the ratings system is available at #{link_to 'How to', '/howto'}.

    %h4.header Authors:
    %ul
      %li Captain AMN
      %li Shiki
      %li Sonix
