.container#main
  %h2 Teeworlds Ladder

  %p
    %em
      Ever wondered how good you are of a player compared to others? How well
      your clan fares on the fields of clan battles?

  %p
    Teeworlds ladder is a project aimed to provide ratings and end game
    statistics to teeworlds players. Using a specially modified server, we
    gather the results of every finished competitive game, then we record this
    information into a database and calculate the effect that the game had on
    the player's standing.

  %p
    To avoid dealing with malicious player activity, such as faking, we demand
    mandatory registration on the project's page before participating in the
    tracked games.

  %p
    Information on how to use our system is available at #{link_to 'How to', '/howto'}.

  %h4.header Authors:
  %ul
    %li Captain AMN
    %li Shiki
    %li Sonix
